<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ISPO</title>
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
</head>

<body ng-app="ISPO" ng-controller="myControler">

    <div class="wraper" >
        <div class="bgrnd" ng-repeat="project in projects" ng-style="{'background-image':'url({{project.img}})'}" ng-if="isCurrentSlideIndex($index)">
            <div class="opacity">
                <div class="title-holder">
                    <h3 class="title"> {{project.name}} </h3>
                </div>
                <div class="description">
                    <p>{{project.description}}</p>
                </div>
                <div class="bottom">
                    <div class="half">
                        <a href="{{project.link}}" class="link">Apply now</a>
                    </div>
                    <div class="half">
                        <p class="time">{{project.endDate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>